name: Test Slack Action

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Send Slack Message
        uses: ./.github/actions/simple-slack-action
        with:
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel_id: "D091ZV57TM0"
          message: "Hello from GitHub Actions!"


