name: Build, Scan, and Push Docker Images (Reusable)

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - main
    paths:
      - "docker-config-*.yaml"
  workflow_dispatch:

jobs:
  build-and-push:
    uses: muna1991/Action-Demo/main/.github/workflows/working-dir-shell.yaml@main
